In [2]:
from glob import glob
import os 
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image
import pandas as pd

In [3]:
test_dir = '/opt/ml/input/data/eval'

In [4]:
a_lst = pd.read_csv(os.path.join(test_dir, 'submission_age_1.csv'), index_col = 'ImageID')
a_lst.head()

                                              ans
ImageID
cbc5c6e168e63498590db46022617123f1fe1268.jpg    0
0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    1
b549040c49190cedc41327748aeb197c1670f14d.jpg    1
4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg    1
248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg    1

In [5]:
g_lst = pd.read_csv(os.path.join(test_dir, 'submission_gender.csv'), index_col = 'ImageID')
g_lst.head()

                                              ans
ImageID
cbc5c6e168e63498590db46022617123f1fe1268.jpg    0
0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    0
b549040c49190cedc41327748aeb197c1670f14d.jpg    0
4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg    1
248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg    0

In [6]:
m_lst = pd.read_csv(os.path.join(test_dir, 'submission_mask.csv'), index_col = 'ImageID')
m_lst.head()

                                              ans
ImageID
cbc5c6e168e63498590db46022617123f1fe1268.jpg    2
0e72482bf56b3581c081f7da2a6180b8792c7089.jpg    0
b549040c49190cedc41327748aeb197c1670f14d.jpg    2
4f9cb2a045c6d5b9e50ad3459ea7b791eb6e18bc.jpg    2
248428d9a4a5b6229a7081c32851b90cb8d38d0c.jpg    2

In [9]:
final = pd.read_csv('/opt/ml/input/data/eval/blank_submission.csv', index_col = 'ImageID')
final['ans'] = m_lst['ans']*6+a_lst['ans']+ (1-g_lst['ans'])*3

In [10]:
final.to_csv(os.path.join(test_dir, 'combine_submission_210827.csv'), index=True)